<section class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-image u-section-1" id="carousel_620a" data-image-width="2624" data-image-height="3936">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h4 class="u-align-justify u-text u-text-body-alt-color u-text-1">About</h4>
            <p class="u-align-justify u-text u-text-body-alt-color u-text-2"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-d1db">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1">
          <h2 style="text-align: left;">Sample Headline</h2>
          <p style="text-align: left;">
            <span style="line-height: 2.0;">Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Pretium nibh ipsum consequat nisl vel pretium. In eu mi bibendum neque eges<img width="570" align="center" style="width: 382px;" class="fr-dii fr-fic fr-fil" src="images/1.svg">tas congue. Vitae ultricies leo integer malesuada nunc. &nbsp;
            </span>
          </p>
          <h2 style="text-align: left;">
            <span style="line-height: 2.0;">Sample Headline</span>
          </h2>
          <p style="text-align: left;">
            <span style="line-height: 2.0;">Morbi enim nunc faucibus a pellentesque sit amet porttitor. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh. Molestie nunc non blandit massa enim nec dui. Felis imperdiet proin fermentum leo vel orci porta. Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Eget sit amet tellus cras adipiscing. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Vel pretium lectus quam id leo in. Tellus elementum sagittis vitae et leo duis ut diam. A diam maecenas sed enim ut sem viverra aliquet eget. Feugiat nisl pretium fusce id velit ut tortor. Et netus et malesuada fames. Tellus elementum sagittis vitae et leo duis ut diam. Sapien eget mi proin sed libero enim sed faucibus turpis.&nbsp;</span>
          </p>
        </div>
      </div>
    </section>